# Flask related
__pycache__/
instance/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/

# python env
.env

# IDE files
.vscode/
.idea/

# Log files
*.log

# Compiled Python files
*.pyc

# Other
.DS_Store
